[submodule "git_modules/zooom-sui"]
	path = git_modules/zooom-sui
	url = https://github.com/danniel-tran/zoom-sui
[submodule "git_modules/claude-kit-benq"]
	path = git_modules/claude-kit-benq
	url = https://github.com/benhaq/claudekit-engineer
